.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    align-self: center;
}